    body {
      font-family: Arial;
      background: #f5f5f5;
      padding: 30px;
    }

    .editor-container {
      width: 700px;
      margin: auto;
    }

    /* Toolbar */
    .toolbar {
      background: #fff;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      margin-bottom: 10px;
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
    }

    .toolbar button,
    .toolbar select,
    .toolbar input[type="color"] {
      padding: 6px 10px;
      border: 1px solid #ddd;
      background: #f7f7f7;
      border-radius: 4px;
      cursor: pointer;
    }

    .toolbar button:hover {
      background: #ececec;
    }

    /* Editor box */
    #editor {
      height: 350px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 6px;
      overflow-y: auto;
    }
.bold {
      font-weight: bold;
    }
.italic {
      font-style: italic;
    }
.underline {
        text-decoration: underline;
    }
.left {
      text-align: left;
    }
.right {
      text-align: right;
    }
.center {
      text-align: center;
    }
.olist {
        list-style-type: decimal;
    }
.ulist {
        list-style-type: disc;
    }
.red { color: red; }
.blue { color: blue; }
